header {
    background-image: url(./../img/1.jpg);
    background-position: center;
    background-size: cover;
    height: 650px;
    max-width: 2500px;
}

header nav a {
    padding-inline-end: 10px;
    color: rgb(173, 167, 167);
    margin: 0px;
    text-align: end;
    text-decoration: none;
}

header nav a:hover {
    color: #eeeeee
}

.jumbotron {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

article {
    padding: 20px;
}

footer {
    background-color: rgb(33, 54, 82);
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}

footer ul li {
    display: inline;
    text-align: center;
    padding: 27px;
    color: ghostwhite;
    font-family: Verdana;
}


/*border-radius: 5px (le da curvatura al bloque)
margin: es un margen externo
pading es un margen interno*/

.col-md-6 {
    background-color: rgb(44, 48, 48);
    color: white;
}

.form {
    margin-left: 330px;
}

.card-text {
    font-size: smaller;
}