/* .imagen {
    background-image: url(./../img/1.jpg);
    
    background-position: center;
    filter: brightness(0.4);
    width: 1500px;
} */

.back {
    background-image: url(./../img/1.jpg);
    background-color: rgba(0, 0, 0, 0.493);
    background-position: center;
    filter: brightness(0.9);
    color: azure;
    width: 1350px;
    height: 600px;
}

nav a {
    padding-inline-end: 50px;
    color: rgb(173, 167, 167);
    margin: 0px;
    text-align: end;
    text-decoration: none;
}

nav a:hover {
    color: #eeeeee
}


/* .jumbotron {
    text-align: end;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-top: 0px;
} */

article {
    padding: 20px;
}

footer {
    background-color: rgb(33, 54, 82);
    display: inline-block;
    margin-top: 10px;
    width: 100%;
    bottom: 0px;
}

footer ul li {
    display: inline;
    text-align: center;
    padding: 27px;
    color: ghostwhite;
    font-family: Verdana;
}


/*border-radius: 5px (le da curvatura al bloque)
margin: es un margen externo
pading es un margen interno*/


/* .form {
    margin-left: 330px;
} */


/* .card-text {
    font-size: smaller;
} */